$c-primary: (
  50: #e2e9fd,
  100: #b8c7fa,
  200: #88a2f7,
  300: #587cf4,
  400: #3560f1,
  500: #3560f1,
  600: #0f3eed,
  700: #0c35eb,
  800: #0a2de8,
  900: #051fe4,
  A100: #ffffff,
  A200: #d9dcff,
  A400: #a6adff,
  A700: #8c95ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$c-accent: (
  50: #fff6ea,
  100: #ffe7cb,
  200: #ffd8a8,
  300: #ffc885,
  400: #ffbc6b,
  500: #ffb051,
  600: #ffa94a,
  700: #ffa040,
  800: #ff9737,
  900: #ff8727,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe6d4,
  A700: #ffd7bb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$c-warn: (
  50: #ffeaea,
  100: #fecaca,
  200: #fda7a7,
  300: #fc8383,
  400: #fc6969,
  500: #fb4e4e,
  600: #fa4747,
  700: #fa3d3d,
  800: #f93535,
  900: #f82525,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffcccc,
  A700: #ffb2b2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
