@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'pallet';

$agendaclinicaser-theme-primary: mat.m2-define-palette($c-primary);
$agendaclinicaser-theme-accent: mat.m2-define-palette($c-accent);
$agendaclinicaser-theme-warn: mat.m2-define-palette($c-warn);

$agendaclinicaser-typography: mat.m2-define-typography-config(
  $font-family: 'Montserrat, sans-serif',
  $headline-1: mat.m2-define-typography-level(97px, 112px, 600),
  $headline-2: mat.m2-define-typography-level(56px, 68px, 700),
  $headline-3: mat.m2-define-typography-level(34px, 72px, 700),
  $headline-4: mat.m2-define-typography-level(28px, 36px, 700),
  $body-1: mat.m2-define-typography-level(14px, 24px, 400),
  $button: mat.m2-define-typography-level(14px, 16px, 700),
);

$agendaclinicaser-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $agendaclinicaser-theme-primary,
      accent: $agendaclinicaser-theme-accent,
      warn: $agendaclinicaser-theme-warn,
    ),
    typography: $agendaclinicaser-typography,
  )
);

@include mat.all-component-themes($agendaclinicaser-theme);
@include mat.all-component-typographies($agendaclinicaser-theme);
